@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body, section{
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
  min-width: 100vw;
  min-height: 100vh;
}

html, body {
  scrollbar-width: none; 
}

section{
  min-height: 700px !important;
  padding: 100px 10px !important; 
}

hr{
  margin-bottom: 40px !important;
}

.hidden {
  display: none;
}

/* Loader */

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%, 10% {
    width: 0;
  }
  45%, 55% {
    width: 6.2em;
  } 
  90%, 100% {
    width: 0;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.terminal-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  padding: 20px;
  width: 400px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminal-controls {
  display: flex;
  gap: 5px;
}

.control {
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green;
  animation:
    typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}

.hidden {
  display: none;
}

/* Scollbar */

::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  position: fixed;
  top: 0;
  right: 5px;
  width: 12px;
  background-color: transparent;
  z-index: 1000;
}

.custom-scrollbar-thumb {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #03387e96;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-scrollbar-thumb:hover {
  background-color: #006effac;
}

/* Navbar */

.navbar{
  height: 60px !important;
  width: 100vw !important;
}

.navbar-toggler {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  border: none;
  background: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  width: 1.5em;
  height: 1.5em;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #212529;
    text-align: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-nav .nav-link {
    display: block;
    padding: 10px;
    width: 100%;
  }

  .navbar-nav{
    margin-top: 10px !important;
    padding-bottom: 10px;
  }
}

.navbar-nav .nav-item:hover {
  color: #ffcc00;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar-nav .nav-item .nav-link.active {
  color: #ffcc00 !important;
  font-weight: bold;
  position: relative;
}

.navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 50%;
  height: 3px;
  background-color: #ffcc00;
  transform: translateX(-50%);
  border-radius: 2px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    text-align: center;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-toggler {
    position: absolute;
    right: 10px;
  }
}


/* Heading */

#particles-js{
  min-height: 700px !important;
  width: 100vw !important;
  height: 100vh;
  overflow: hidden;
  background: #111111;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#Heading {
    background: transparent !important;
    position: absolute;
    justify-content: center;
    align-items: center;
}

#Heading h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#Heading p {
    font-size: 1.5rem;
}

.responsive-heading {
  font-size: 4vw; /* Scale based on width */
  font-weight: bold;
  color: white;
}

.heading-loader p {
  font-size: 2vw;
  color: white;
}

.heading-card {
  --bg-color: #212121;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  border: #c22020 3px solid;
  margin-bottom: 30px;
}
.heading-loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word-next {
  display: flex; 
  justify-content: flex-start;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation:  word-spin 20s infinite;
}

@keyframes word-spin {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  8% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  13% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  21% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  26% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }

  32% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  37% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  45% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }

  50% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }

  58% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
      }

  63% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }

  71% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }

  76% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }

  84% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }

  89% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    
  97% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

  100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
}


/* About */

#about {
  background-image: url("My/AboutBG.png");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 100px 10px;
  min-height: 100vh !important;
  display: flex;
  align-items: center;
}

#about p {
  font-size: 1.2rem;
  text-align: justify;
  color: #000000 !important;
  line-height: 1.8;
  font-weight: 500;
}

@media (max-width: 768px) {
  #about p {
      font-size: 1rem;
      line-height: 1.6;
  }
}

#about h1 {
  color: #006eff;
  font-weight: bolder;
  padding: 40px 0 0 0;
  font-size: 2.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  #about h1 {
      font-size: 2rem;
  }
}

/* Tech Skills */

.mouse_scroll {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	margin: 0 auto -100px;
	width: 100px;
	height: 160px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 3px;
  
  width: 16px;
  height: 16px;
}

.scroll_down
{
  color: rgba(255, 255, 255, 0.323);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

#skills h1{
  padding: 40px 0 0 0;
  color: #1877f2;
  font-weight: bolder;
}

#skills ul{
  padding: 0 0 0 20px;
}

#skills li{
  margin: 20px 35px 20px 0 !important;
}

#skills h4{
  color: #003652 !important;
  text-shadow: #0083c4 1px 1px 1px;
}

.skill-item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.skill-item.visible {
  opacity: 1;
  transform: translateY(0);
}

#skills .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#skills .col-md-4 {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

#skills img {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

#skills img:hover {
  transform: scale(1.1);
}

.text-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconify {
    display: block;
    margin-bottom: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.iconify + span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    color: #333;
}

.iconify:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

/* Projects */

#projects h1{
  padding: 40px 0 0 0;
  color: #1877f2;
  font-weight: bolder;
}
#projects h2,#projects h4{
  color: #003652 !important;
  text-shadow: #0083c4 1px 1px 1px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#projects h6, #projects p, #projects li{
  font-size: large;
}

#projects h6, #projects p{
  color: #00334d !important;
  line-height: 30px;
  font-weight: 500;
}
#projects ul{
  color: #00334d !important;
}
#projects li{
  color: #00334d !important;
  margin: 15px 0 !important;
  font-weight: 500;
}

iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 90vw;
}


/* Education */

#education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#education h1{
  padding: 40px 0 0 0;
  color: #1877f2;
  font-weight: bolder;
}

#education-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-container {
  max-width: 800px;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  padding: 20px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  padding-left: 40px;
  border-left: 4px solid #00aaff;
}

.timeline-item {
  margin-bottom: 30px;
  position: relative;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.year {
  font-weight: bold;
  color: #00aaff;
  font-size: 1.3em;
  background: rgba(0, 170, 255, 0.2);
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
}
.degree {
  color: #006496;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 5px;
}

.institution {
  font-weight: medium;
  font-size: 1em;
  margin-top: 3px;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.dot {
  position: absolute;
  left: -12px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: #00aaff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.8);
}

/* Certifications */

#certifications {
  padding-bottom:  -20px;
}

#certifications h1{
  padding: 40px 0 0 0;
  color: #1877f2;
  font-weight: bolder;
}

.accordion-container {
  width: 100%;
  margin: 0 auto;
}

.card {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}
#certifications .collapse{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s, opacity 0.1s;
}
#certifications .collapse .show {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}
.accordion-header {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.collapse.show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f0f0f0;
  width: fit-content;
  height: auto;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.collapse.show img {
  width: 100%;
  display: block;
  max-width: 100%; 
  border-radius: 10px;
}

.accordition-card .accordition-header{
  padding: 0 !important;
}

.accordition-header {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;
}

.accordition-header button {
  width: 100%;
  height: 60px;
  padding: 20px auto;
  background-color: white;
  color: #568fa6;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.accordition-header button:before, .accordition-header button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #44d8a4;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.accordition-header button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.accordition-header button:after {
  left: 0;
  bottom: 0;
}

.accordition-header button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.accordition-header button span:before, .accordition-header button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #44d8a4;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.accordition-header button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.accordition-header button span:after {
  left: 0;
  bottom: 0;
}

.accordition-header button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.accordition-header button p:before, .accordition-header button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.accordition-header button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.accordition-header button p:after {
  content: attr(data-text);
  top: 150%;
  color: #44d8a4;
}

.accordition-header button:hover:before, .accordition-header button:hover:after {
  width: 100%;
}

.accordition-header button:hover span {
  z-index: 1;
}

.accordition-header button:hover span:before, .accordition-header button:hover span:after {
  height: 100%;
}

.accordition-header button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.accordition-header button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.accordition-header button.start {
  background-color: #44d8a4;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.accordition-header button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.accordition-header button.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.accordition-header button.start:hover:before, .accordition-header button.start:hover:after {
  display: none;
}

.accordition-header button.start:hover span {
  display: none;
}

.accordition-header button:active {
  outline: none;
  border: none;
}

.accordition-header button:focus {
  outline: 0;
}

.education-container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Contact */

#contact h1{
  padding: 40px 0 0 0;
  color: #1877f2;
  font-weight: bolder;
}
  

#social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 150px;
  height: 150px;
  outline: none;
  border: none;
  background: rgb(215, 215, 215);
  border-radius: 150px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.whatsapp {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card2 {
  width: 150px;
  height: 150px;
  outline: none;
  border: none;
  background: rgb(215, 215, 215);
  border-radius: 5px 150px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.linkedin {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #0077b5;
}

.card3 {
  width: 150px;
  height: 150px;
  outline: none;
  border: none;
  background: rgb(215, 215, 215);
  border-radius: 5px 5px 5px 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 150px;
  height: 150px;
  outline: none;
  border: none;
  background: rgb(215, 215, 215);
  border-radius: 5px 5px 150px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.gmail {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #f14336;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card1:hover .whatsapp {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0077b5;
}

.card2:hover .linkedin {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #FF0004;
}

.card4:hover .gmail {
  fill: white;
}

/* Footer */

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  height: 60px !important;
}